:host {
  height: 100vh;
}

mat-sidenav-content {
  padding: 0 24px;
}

.logo-svg {
  width: 110px;
  height: 36px;
  background-size: cover;
  background-image: url("~src/assets/images/Union.svg");

  position: absolute;
  top: 20px;
  left: 20px;
}

.logo-small {
  background-image: url("~src/assets/images/logo-small.svg");
  background-size: cover;

  width: 36px;
  height: 38px;

  position: absolute;
  left: 10px;
  top: 20px;
}

.route-box {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin-left: 20px;
  }
}

.route-name {
  font-weight: 500;
  font-size: 16px;
  color: #414141;

  &_active {
    font-weight: 500;
    font-size: 16px;
    color: #1672EC;
  }
}

mat-nav-list {
  margin-top: 104px;
}

.orders-svg {
  min-width: 24px;
  background-image: url("~src/assets/images/sidebar-icons/shopping-cart.svg");
  background-size: cover;

  &_active {
    min-width: 24px;
    background-image: url("~src/assets/images/sidebar-icons/orders-icon_active.svg");
    background-size: cover;
  }
}

.catalog-svg {
  min-width: 24px;
  background-image: url("~src/assets/images/sidebar-icons/catalog-icon.svg");
  background-size: cover;

  &_active {
    min-width: 24px;
    background-image: url("~src/assets/images/sidebar-icons/catalog-icon_active.svg");
    background-size: cover;
  }
}

.customers-svg {
  min-width: 24px;
  background-image: url("~src/assets/images/sidebar-icons/customers-icon.svg");
  background-size: cover;

  &_active {
    min-width: 24px;
    background-image: url("~src/assets/images/sidebar-icons/customers-icon_active.svg");
    background-size: cover;
  }
}

.logout {
  display: flex;

  position: absolute;
  bottom: 20px;
  left: 12px;

  &-logo {
    width: 24px;
    height: 24px;
    background-image: url("~src/assets/images/sidebar-icons/log-out.svg");
    background-size: cover;
  }

  &-article {
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
    color: #414141
  }
}

.sidebar,
.components {
  height: 100vh;
}

.full-width {
  width: 163px;
}

.display-none {
  display: none;
}
