<div class="header">
  <div class="check-button-header">
    <div class="sidebar-move-button" (click)="moveSidebar()"></div>
    <p class="description">Customers</p>
  </div>
  <div class="functional-header" (click)="openAddModal()">
    <div class="add-image"></div>
    <p class="add-description">Add Customer</p>
  </div>
</div>

<div class="search-logo"></div>
<input class="search" type="text" placeholder="Customer No, Name, Address...">

<table mat-table
       [dataSource]="customersArr" multiTemplateDataRows
       class="mat-elevation-z8">

  <ng-container matColumnDef="customerNo">
    <th mat-header-cell *matHeaderCellDef>Customer No</th>
    <td mat-cell *matCellDef="let element"> {{element.customerNo}}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name
      <div class="arrow-image"></div>
    </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef>Address</th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="deliveryDays">
    <th mat-header-cell *matHeaderCellDef>Delivery Days</th>
    <td mat-cell *matCellDef="let element"> {{element.deliveryDays}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[10, 20, 30]"></mat-paginator>
